{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}. Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
 <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body"><br/>
    <div class="col-md-12 text-center">
           <div class="btn btn-app">
                <i class="fa fa-power-off"></i> Увійти
              </div>
    <a class="btn btn-app text-green" href="/accounts/signup">
                <i class="fa fa-user-plus"></i>Реєстрація
              </a>

<h1>Увійти на портал</h1>
    <small>Увійдіть на портал, використовуючи свою адрес електропошти і пароль, який Ви задали при <a
            href="/accounts/signup">реєстрації</a>. Якщо забули свій пароль, то просто <a href="/accounts/password/reset/"> відновіть його тут</a>.  </small>
<br/><br/>
</div>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

{% endif %}

    <div class="row">
        <div class="col-md-6">
          <div class="box box-solid">

            <!-- /.box-header -->
            <div class="box-body">

                <form class="login" method="POST" action="{% url 'account_login' %}" id="loginform">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button class="btn  btn-primary btn-lg" type="submit"><i class="fa fa-power-off"></i> {% trans "Sign In" %}</button>
  <a class="btn  btn-primary btn-lg" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

</form>



            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->
        <div class="col-md-6">
          <div class="box box-solid">
              <div class="box-header with-border">

              <h3 class="box-title">Ви - небайдужі і тому неймовірні!</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body clearfix">
                <blockquote class="pull-right">
                <p>Дякуємо, що користуєтесь інструментами "Розумного міста"!</p>
                   <p> Разом з Вами, ми зробимо роботу влади ефективною,
                    прозорою та відповідальною, а місто комфортним.<br/> Ми разом побудуємо Європу у себе вдома!
                </p>
                <small> З великою <i class="fa fa-heart-o"></i>, команда проекту "Розумне місто".</small>
                    </blockquote>

                <a class="btn  btn-default btn-xs pull-right" href="/contacts">Відгуки та пропозиції</a>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- ./col -->
      </div>

</div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}
