{% extends 'base.html'%}
{% load static %}
{% block title %}Аналітика витрат державних коштів. Інформаційна система "Розумне місто".{% endblock %}

{% block head_top %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css'%}">
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker-bs3.css'%}">

{% endblock %}
{% block content %}
        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">
<br/><div class="text-center"><h2><i class="fa fa-credit-card"></i><br/>Відкриті фінанси. <span class="text-yellow">Бета-тест</span></h2>
            <small>Платежі державних організацій ({{ request.session.town_name }})</small>
            </div>
<br/><br/>

              <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class=""><a href="#tab_4-2" data-toggle="tab" aria-expanded="false">Умови використання</a></li>
              <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">Допомога</a></li>
              <li class=""><a href="#tab_1-2" data-toggle="tab" aria-expanded="false">Підписка на платежі</a></li>
              <li class="active"><a href="#tab_3-2" data-toggle="tab" aria-expanded="true">Фільтр платежів</a></li>
             <li class="pull-left header"><a href="http://spending.gov.ua/" target="_blank"><small>Транзакції з порталу публічних фінансів "E-Data"</small></a></li>

            </ul>
            <div class="tab-content">
     <div class="tab-pane" id="tab_1-2">
         <p>
     {% if user.is_authenticated %}

            <table id="subscr" class="table table-bordered table-striped">
                <thead>
                <tr role="row" >
                    <th style="width: 40px; text-align: center" data-toggle="modal" data-target="#receipt"># </th>
                    <th style="width: 200px; text-align: center">Параметр</th>
                    <th style="width: 100px;text-align: center">Умова(якщо)</th>
                    <th style="width: 150px;text-align: center">Значення</th>
                    <th style="width: 150px;text-align: center">Дата створення</th>
                    <th style="width: 100px;text-align: center">Статус</th>
                    <th style="width: 100px;text-align: center">Видалити</th>
                </tr>
                </thead>
                <tbody>
         {% for ss in ss_list %}
                <tr>


                <td class="vert-align">{{forloop.counter}}</td>
                <td class="vert-align">
                    {% if ss.parameter == 'amount' %}
                        Сума транзакції(грн.)
                    {% elif ss.parameter == 'recipient_edrpou' %}
                        ЄРДПОУ-код отримувача
                    {% elif ss.parameter == 'recipient_title' %}
                        Маска назви отримувача
                    {% elif ss.parameter == 'payer_edrpou' %}
                        ЄРДПОУ-код платника
                    {% endif %}

                </td>
                <td class="vert-align">{{ss.comparison}}</td>
                <td class="vert-align">{{ss.value}}</td>
                <td class="vert-align">{{ss.created_date|date:"Y-m-d"}}</td>
                <td class="vert-align">
                    {% if ss.is_active %}<a href="/{% if townslugheader %}{{townslugheader}}{% endif %}/edata/ssdeactivate/{{ ss.id }}" title="Підписка активована. Деактивувати?"><i class="fa fa-toggle-on text-green"></i></a></span>
                    {% else %}<a href="/{% if townslugheader %}{{townslugheader}}{% endif %}/edata/ssactivate/{{ ss.id }}" title="Підписка деактивована. Активувати?"><i class="fa fa-toggle-off text-yellow"></i></a>{% endif %}</td>
                <td class="vert-align"><a href="/{% if townslugheader %}{{townslugheader}}{% endif %}/edata/ssdelete/{{ ss.id }}"><i class="fa fa-times-circle text-red"></i></a></td>


                </tr>
{% endfor %}
                </tbody>

              </table>
      </p>
   <br/>
     <div class="text-right">
          <button class="btn btn-middle btn-success" data-toggle="modal" data-target="#addSSModal"><i class="fa  fa-plus-circle"></i> Додати нову підписку</button>


     </div>




<!-- Modal -->
<div class="modal fade" id="addSSModal" tabindex="-1" role="dialog" aria-labelledby="addSSModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрити"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="tenderModalLabel">Додати підписку</h4>
      </div>
      <div class="modal-body">

<form id="ssAdd" action="../edata/ssadd" method="post" >
{% csrf_token %}

    <div class="form-group">
     <h4>Назва параметру</h4>
	  {{ ssAddForm.parameter.errors }}
	  {{ ssAddForm.parameter }}
    </div>

    <div class="form-group">
        <h4>Умова</h4>
      {{ ssAddForm.comparison.errors }}
	  {{ ssAddForm.comparison }}<br />
     </div>

    <div class="form-group">
        <h4>Значення</h4>
      {{ ssAddForm.value.errors }}
	  {{ ssAddForm.value }}
    </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success"><i class="fa  fa-plus-circle"></i> Додати</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa  fa-times-circle-o"></i> Закрити</button>

      </div>
  </form>
    </div>
  </div>
</div>
         </div>

{% else %}

         <p>
     Зареєструйтесь для оформлення підписки на платежі
         </p>

     {% endif %}

     </div>


 <div class="tab-pane" id="tab_4-2">
 <p>Інформація експортується з порталу публічних коштів міністерства фінансів України через API у такому вигляді як вона є. Власники та розробники порталу "Розумне місто" не несуть відповідальності
     за зміст та якість інформації. Якщо ви не згодні з цими умовами - не користуйтесь модулем "Відкриті фінанси".
 </p>
              </div>


              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2-2">

 <p> Розділ "Допомога" у процесі наповенння. З презентацією модуля Презентація модуля Ви можете ознайомитись тут - <a href="https://docs.google.com/presentation/d/1-6IUi-9DU4P9Lq8Z_QclynTQKEXvjRlZ0jJDa5-eZkY/edit?usp=sharing">"Презенатція модуля 'Відкритих Фінансів'"</a><br/><br/>
     Звідки дані? З державного порталу публічних фінансів України "Є-Дата".<br/><br/>

     <strong><a href="http://spending.gov.ua/">"E-DATA"</a> </strong> – єдиний веб-портал використання публічних коштів є офіційним державним інформаційним ресурсом у мережі Інтернет, на якому оприлюднюється інформація згідно з Законом «Про відкритість використання публічних коштів».</p>

                <p>Доступ до інформації, оприлюдненої на єдиному веб-порталі використання публічних коштів, є вільним та безоплатним, що надає можливість задоволення публічного інтересу щодо процесів контролю, утворення, розподілу та використання публічних коштів розпорядниками та одержувачами коштів Державного бюджету України, бюджету Автономної Республіки Крим і місцевих бюджетів,
                    органами Пенсійного фонду, підприємствами,тощо</p>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane active" id="tab_3-2">

  <form name="financeFilter" id="financeFilter" method="post" action="#">
  <p>

                  <div class="col-md-3">
                           <div class="input-group">

                                              <button type="button" class="btn btn-default" id="daterange-btn">
                                                <i class="fa fa-calendar"></i>
                                               {% if request.session.date_from and request.session.date_to %}{{request.session.date_from }}/{{request.session.date_to }}
                                                   {% else %}
                                                   Період звіту до 3 місяців
                                                   {% endif %}

                                                <i class="fa fa-caret-down"></i>
                                              </button>
                                    </div>
                </div>
                           <input type="hidden" name="date_from" id="date_from" {% if request.session.date_from %} value="{{request.session.date_from }}"{% endif %}>

                         <input type="hidden" name="date_to" id="date_to" {% if request.session.date_to %} value="{{request.session.date_to }}"{% endif %}>


                <div class="col-md-3">
                <select class="form-control" name="payer">
                    <option value="0">Усі розпорядники коштів</option>
                    {% for payer in payers_dict %}
                        {% if request.session.payer == payer.code %}
                            <option value="{{ payer.code }}" selected>{{ payer.title }}</option>
                        {% else %}
                            <option value="{{ payer.code }}">{{ payer.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

            </div>

                <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Назва отримувача / ЄРДПОУ " name="receiver" {% if request.session.receiver%}value="{{ request.session.receiver}}" {% endif %}>
          </div>



                    <div class="col-md-3 pull-right">
                    <button class="btn btn-success btn-sm"> <i class="fa fa-search"></i> Пошук</button>

                        <a href="../edata/export" class="btn btn-default btn-sm" id="export"><i class="fa fa-file-excel-o"></i> Експорт</a>
                        <a href="../edata/clearfilter/index/none" class="btn btn-default btn-sm"><div class="clearefilter">Скинути</div></a>
                          </div>
  <br/><br/>
</p>
                    </form>

<script>
    $('#export').click(function () {

        $('#export').attr('class','btn btn-default btn-sm disabled')
        $('#export').html('Зачекайте')
        setTimeout(function(){
            $('#export').attr('class','btn btn-default btn-sm')
            $('#export').html('<i class="fa  fa-file-excel-o"></i> Експорт')
        },5000)

        console.log('Its working!')
    })
</script>

<script type="text/javascript" src="{% static 'plugins/chartjs/Chart.min.js'%}"></script>


<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js'%}"></script>
      <!-- InputMask -->
<script src="{% static 'plugins/input-mask/jquery.inputmask.js'%}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js'%}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js'%}"></script>

<div id="edata_context">
<div id="image" class="text-center"><i class="fa fa-refresh fa-spin" style="font-size: 65px; color: #00733e"></i>
    </br> Зачекайте, будь ласка. Триває обробка даних...</div>

</div>
  </div>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->

          </div>
        </section><!-- /.content -->

<script>
     $.ajax({
        type: "POST",
        url: "http://"+window.location.hostname+(window.location.port.length>1?":"+window.location.port:"")+"/{% if townslugheader %}{{townslugheader}}{% endif %}/edata/",
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}'
            {% if request.session.date_from and request.session.date_to %}, 'date_from': '{{request.session.date_from }}', 'date_to': '{{request.session.date_to }}'{% endif %}
            {% if request.session.receiver %}, 'receiver':'{{ request.session.receiver }}'{% endif %}
            {% if request.session.payer %}, 'payer':'{{ request.session.payer }}'{% endif %}
                },

            beforeSend: function(){
            $('#image').show();
        },
            complete: function(){
            $('#image').hide();
        },
            success : function(datasuccess) {
             $('#edata_context').html(datasuccess);
        }
     });

//---Функции обработки фильтра транзакций---///
$( "#financeFilter" ).submit(function( event ) {
    var values = {};
    $.each($('#financeFilter').serializeArray(), function(i, field) {
        values[field.name] = field.value;
    });
    edataFilter(values['date_from'],values['date_to'],values['payer'],values['receiver']);
    event.preventDefault();
});


function edataFilter(date_from, date_to, payer, receiver){
    $.ajax({
        type: "POST",
        url: "http://"+window.location.hostname+(window.location.port.length>1?":"+window.location.port:"")+"/{% if townslugheader %}{{townslugheader}}{% endif %}/edata/",
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'date_from':date_from, 'date_to': date_to, 'payer': payer, 'receiver': receiver},
        beforeSend: function(){
            $('#edata_context').empty();
            $('#edata_context').html('<div id="image" class="text-center"><i class="fa fa-refresh fa-spin" style="font-size: 65px; color: #00733e"></i> </br> Зачекайте, будь ласка. Триває обробка даних...</div></div>')
        },
        complete: function(){
            $('#image').hide();
        },
        success : function(datasuccess) {
            $('#edata_context').html(datasuccess);
        }
    });
     }


// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
}


</script>



{% endblock %}

{% block footerjs %}


{% endblock %}