{% extends 'base.html'%}
{% block title %}Ви успішно відписались від повідомлення про платежі. Інформаційна система "Розумне місто".{% endblock %}
{% block head_top %}<meta http-equiv="refresh" content="3;url=http://rozumnemisto.org/">{% endblock %}
{% block content %}
 <section class="content">
     <!-- Default box -->
          <div class="box">
                <div class="box-body">
                    <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Чудово! Тепер ви відписались від розсилання.</h4>
                    Ви завжди можете підписатись на інші платежі у модулі "Відкриті фінанси"
                </div>
          </div><!-- /.box-body -->
          </div><!-- /.box -->
 </section><!-- /.content -->

{% endblock %}