{% extends 'base.html' %}
{% block title %}Додати заявку на усунення дефекту. Інформаційна система "Розумне місто".{% endblock %}
{% block content %}

    <section class="content-header">
      <h1>
    Додати нову заявку для свого міста - {{ request.user.towns.all.0 }}

      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Головна</a></li>
        <li><a href="../defects/">Дефекти ЖКГ</a></li>
        <li class="active">Додати заявку</li>
      </ol>
</section>


                  <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

<div class="row">

	<form method="POST" action="../defects/add" name="defectForm" enctype="multipart/form-data" id="addDefect">
        <div class="col-md-5">
		<div class="defectForm-map" id="map" style="width:400px;height:400px;"></div>
</div>
    <div class="col-md-7">
				{% csrf_token %}
    <div class="form-group">
				<label>
					Назва дефекту</label>
					<input class="form-control" type="text" name="title" placeholder="Коротка назва дефекту">
				</div>
    <div class="form-group">
				<label>
					Опис</label>
					<textarea class="form-control" name="description" placeholder="Опишіть докладно проблему"></textarea>
				</div>
<div class="form-group">
				<i class="fa fa-hand-o-left"></i> <label>	Адреса (натисніть по мапі клацанням миші, коліщатком мищі можна збільшити масштаб мапи)	</label>
					<input class="form-control" type="text" name="address" readonly="readonly">
					<input class="form-control" type="hidden" name="map_lat">
					<input type="hidden" name="map_lon">
					<script type="text/javascript">
	    		var map;
				function initMap() {

						map = new google.maps.Map(document.getElementById('map'), {
							center: new google.maps.LatLng({{gmap.lon}},{{gmap.lat}}),
							zoom: {{ gmap.zoom }},
							disableDoubleClickZoom: true
				    	});
				    	var defectMarker = new google.maps.Marker({
							map: map,
							visible: false,
							draggable:true,

						});
				    	google.maps.event.addListener(map, 'click', function(data) {
							defectMarker.setVisible(true);
							defectMarker.setPosition(data['latLng']);
							updateAddress(defectMarker);
						});
						google.maps.event.addListener(defectMarker, 'dragend', function(data) {
							updateAddress(defectMarker);
						});
				}
				function updateAddress(marker){
					$.get("https://maps.googleapis.com/maps/api/geocode/json?&key={{api_key}}&latlng="+marker.position.lat()+","+marker.position.lng()+"&language=uk&sensor=true",function(data){
						if(data.status=="OK"&&data.results.length>0){
							//defectForm.address.value=data.results[0]['address_components'][1]['short_name']+', '+data.results[0]['address_components'][0]['short_name']+', '+data.results[0]['address_components'][2]['short_name']+', '+data.results[0]['address_components'][4]['short_name'];
                            defectForm.address.value=data.results[0].formatted_address;
							defectForm.map_lon.value=marker.position.lng();
							defectForm.map_lat.value=marker.position.lat();
						}
					});
				}
				//thumbs for uploading pictures
				function cardThumb(input){
					if (input.files && input.files[0]) {
						$.each(input.files,function(k,file){
							var reader = new FileReader();

							reader.onload = function (e) {
								var pic_frame = document.createElement("div");
								pic_frame.style["display"]="inline-block";
								pic_frame.classList.add("imageHolder","img-thumbnail");
								var title = document.createElement("div");
								title.innerHTML=file.name;
								title.classList.add("text-success","adidedImgTitle");
								var xFrame = document.createElement("div");
								xFrame.innerHTML="X";
								xFrame.classList.add("btn","btn-danger","btnX");
								xFrame.onclick=function(e){
									e.target.parentNode.remove();
								}
								xFrame.style["display"]="inline";
								xFrame.style["vertical-align"]="top";
								xFrame.style["cursor"]="pointer";
								var pic = new Image();
								pic.src=e.target.result; 
								pic.classList.add("img-responsive","adidedImg");							
								var picture_file = document.createElement("input");
								picture_file.type="hidden";
								picture_file.name="attachements["+file.name+"]";
								picture_file.value=e.target.result;
								
								pic_frame.appendChild(pic);
								pic_frame.appendChild(xFrame);

								pic_frame.appendChild(picture_file);
								thumbHolder.appendChild(pic_frame);
								var files = document.createElement("input");
	             				files.type="hidden";
	              				files.value=file.name;
	              				files.name="files[]";
	              				pic_frame.appendChild(files);
								input.value="";
							}

							reader.readAsDataURL(file);
						});
					}
				}
	    	</script>
			</div>

			<div id="thumbHolder"></div><br/>
		<input type="file" data-buttonText="Виберіть зображення або декілька" class="filestyle" data-badge="false" data-buttonBefore="true" accept="image/*" multiple onchange="cardThumb(this)">
		<div class="defectForm-submit">
            </br>
				 <input class="btn btn-block btn-info" type="submit" value="Додати дефект"  onclick="this.value='Зачекайте, будь ласка...';this.disabled='disabled'; this.form.submit();">
		</div>

		</div>

	</form>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&amp;callback=initMap"></script>
</div>
      </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}