{% extends 'base.html'|pjax:request %}
{% load static %}
{% block title %}Допомога по інструменту "Дефекти ЖКГ". Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
<!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">
                <div class="text-center"><h1>Допомога по модулю "Дефекти ЖКГ"</h1></div>

<p><strong>Як додати дефект чи проблему?</strong></p>
<p>Для того, щоб створити заявку, користувачу необхідно:</p>
<p>- зареєструватися на веб-порталі;</p>
<img src="{%  static 'img/petitions/reg-1.jpg' %}" style="max-width:100%"><br /><br />
<p>- місто, яке було вказано при реєстрації, автоматично обирається у верхньому меню.
    При необхідності, Ви можете його змінити, нажавши на назву міста та обравши нове на мапі;</p>
<img src="{%  static 'img/petitions/reg-2.jpg' %}" style="max-width:100%"><br /><br />
<p>- в лівому меню «Дефекти ЖКГ» обрати «Додати заявку»;</p>
<img src="{%  static 'img/defects/def-1.jpg' %}" style="max-width:100%"><br /><br />
<p>- заповнити всі поля та нажати на кнопку «Відправити»:</p>

<p>	 1 – Мапа міста, на якій обирається де саме виявлена проблема;</p>
<p>	2 – Назва дефекту;</p>
<p>	3 – Короткий опис проблеми;</p>
<p>	4 – Адреса дефекту (заповнюється автоматично після вибору місця на мапі);</p>
<p>5 – Кнопка завантаження зображень (може бути декілька)</p>
<p>6 – Кнопка «Додати дефект», для надіслання заявки на модерацію.</p>
<img src="{%  static 'img/defects/def-2.jpg' %}" style="max-width:100%"><br /><br />
<p>Після розгляду Вашої заявки модератором, вона з’явиться на сайті. У випадку, якщо Ваша заявка не пройде модерацію, Вам буде повідомлено про це на вказаний при реєстрації е-мейл.</p>

                <p><strong>Як слідкувати за вирішенням проблеми?</strong></p>
<p>В залежності від стадії виконання заявки, вона має різні статуси, які Ви можете бачити в карточці дефекту.<p>
<img src="{%  static 'img/defects/def-3.jpg' %}" style="max-width:100%"><br /><br />


  </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}