{% extends 'base.html'|pjax:request %}
{% load staticfiles %}
{% block title %}Про проект. Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">
<div class="text-center"><img src="{%  static 'img/rm-logo-color.png' %}"> </div>

<b>"Розумне місто"</b> – веб-сервіс, що реалізує концепцію «Smart City» в частині ІТ та надає інструменти для оптимізації процесів самоврядування та боротьби з корупцією. «Розумне місто» створено по принципу «мікросервісів», тому він легко підлаштовується під будь-який населений пункт.<br/>
    <br/>

Розробники веб-сервісу «Розумне місто» мають практичний досвід із розробки веб-сервісів для реформування управління
                містом у частині об’єднання зусиль влади і громади міста.<br/><br/>
При створенні продукту, наша команда ставила наступні пріоритети:<br/>
    <ul>
<li>Зручний та інтуїтивно зрозумілий інтерфейс</li>
<li>Багатофункціональність</li>
<li>Консолідованість послуг та інструментів</li>
<li>Можливість встановлення додаткових модулів</li>
<li>Розподілення доступу до модулів в залежності від обраного міста</li>
        <li>Інструмент мотивування користувачів (карма)</li>
        <li>Можливість розробки модулів власноруч та додавання їх до меню свого міста</li>
</ul>

<a href="/join"> Приєднуйтесь до дружньої родини проекту «Розумного міста»!</a><br/>

            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">Команда проекту <strong>"Розумне місто"</strong></h2>
<br/>
                </div>
            </div>
<div class="row">
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/genka.jpg" class="img-responsive img-circle" alt="">
                        <h4>Євгенія Поремчук</h4>
                        <p class="text-muted">Керівник проекту <a href="http://rozumnemisto.org">"Розумне місто"</a>, тренер <a href="http://www.iri.org/">"IRI"</a> по е-врядуванню</p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/jenya.poremchuk" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://medium.com/@e_poremchuk" target="_blank"><i class="fa fa-medium"></i> </a> </li>

                            <li><a href="https://vk.com/id12165445" target="_blank"><i class="fa fa-vk"></i> </a> </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/martfed.jpg" class="img-responsive img-circle" alt="">
                        <h4>Федір Мартинов</h4>
                        <p class="text-muted">Виконавчий директор благодійного фонду <a href="http://razomforukraine.org/">"Разом для України"</a> </p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/mbyte.ua?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/kiv.jpg" class="img-responsive img-circle" alt="">
                        <h4>Ігор Куц</h4>
                        <p class="text-muted">Адвокат, тренер <a href="http://despro.org.ua/en/">"DESPRO"</a>  з питаннь децентралізації та місцевих реформ</p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/profile.php?id=100000696861094" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/pm.jpg" class="img-responsive img-circle" alt="">
                        <h4>Peter Michaels</h4>
                        <p class="text-muted">Програміст у <a href="http://rozumnemisto.org">"Розумне місто"</a>, "<a href="http://007.org.ua">#007</a>", "Ingenia", 'Open Minded Webmasters'</p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://vk.com/dancing_rabbit" target="_blank"><i class="fa fa-vk"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/linux.nerd.au?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            <li>
                            </li>
                        </ul>
                    </div>
                </div>

</div>

<div class="row">
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/shipovich.jpg" class="img-responsive img-circle" alt="">
                        <h4>Люба Шипович</h4>
                        <p class="text-muted">Програміст, президент україно-американської організації "RAZOM Inc." </p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/lyuba.shypovych" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

				<div class="col-md-3">
                    <div class="team-member">
                        <img src="http://www.cityfuture.org.ua/img/team/pev.jpg" class="img-responsive img-circle" alt="">
                        <h4>Євгеній Поремчук</h4>
                        <p class="text-muted">Програміст корпоративних інф. систем АЕС, <a href="http://rozumnemisto.org">"Розумне місто"</a> </p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/e.poremchuk" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/delidon.jpg" class="img-responsive img-circle" alt="">
                        <h4>Сергій Делідон</h4>
                        <p class="text-muted">Громадський діяч, антикорупційний активіст, фотокореспондент</p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/delidons?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>

                            <li><a href="https://vk.com/delidons" target="_blank"><i class="fa fa-vk"></i> </a> </li>
                        </ul>
                    </div>
                </div>

                	<div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/pavlo.jpg" class="img-responsive img-circle" alt="">
                        <h4>Павло Островський</h4>
                        <p class="text-muted">Громадській діяч, рег. координатор <a href="https://www.facebook.com/gromady.dn.ua/?pnref=lhc"><br/>ГО "Сильні громади Донеччини"</a> </p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/pavlo.ostrovsky?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
                <div class="row">
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/bezobchuk.jpg" class="img-responsive img-circle" alt="">
                        <h4>Олександр Безобчук</h4>
                        <p class="text-muted">Громадський діяч, волонтер,<br/> дизайнер, фотограф</p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/alexander.bezobchuk?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/ruslan.jpg" class="img-responsive img-circle" alt="">
                        <h4>Руслан Рудомський</h4>
                        <p class="text-muted">Громадський активіст, журналіст, керівник ГО "Громада міста Нетішин"</p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/rudomskyi" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                	<div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/kovalchuk.jpg" class="img-responsive img-circle" alt="">
                        <h4>Анна Ковальчук</h4>
                        <p class="text-muted">Програміст, ІТ-волонтер, громадський активіст </p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/anna.kovalchuk.ua?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
      <div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/orlov.jpg" class="img-responsive img-circle" alt="">
                        <h4>Микола Орлов</h4>
                        <p class="text-muted">Громадський діяч, голова ГО "ЗЕОН"</p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/profile.php?id=100000914295012&fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>

<div class="row">
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="/static/img/crew/matrosova.jpg" class="img-responsive img-circle" alt="">
                        <h4>Олена Матросова</h4>
                        <p class="text-muted">Громадський активіст</p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://www.facebook.com/olena.matrosova?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>



            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}