<!DOCTYPE html>
<html>
<!-- Для поціновувачів вихідного коду: проект розробляється на Python з використанням фреймворку Django. СУБД - MySQL,
кешуючий бекенд - Redis. Весь цей парк працює на Ubuntu. Хочете приєднатись до розробки проекту ? Ми завжди відкриті до співпраці - office@rozumnemisto.org
-->
{% load staticfiles %}
{% load cache %}



































































  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Розумне місто - електронне врядування для активних міст та спроможних громад{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta property="og:image" content="http://rozumnemisto.org/static/img/logo_fb.jpg" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/ico" />
    <link rel="stylesheet" href="{% static 'css/lightbox.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">

    {% block head_top %}{% endblock %}

    <script type="text/javascript" src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.pjax.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/livesearch.js'%}"></script>




    {% block head_bottom %}{% endblock %}

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

   <!-- Support Smart Chat -->

<script>
      {% if request.user.is_authenticated %}
    window.ChatraSetup = {
    clientId: '{{ request.user.chathash }}'};

    window.ChatraIntegration = {
    // SmartCity user data if logging in
    name: '{{ request.user.first_name }} {{ request.user.last_name }}',
    email: '{{ request.user.email }}',
    phone: '{{ request.user.phone }}',
    'Місто': '{{ request.user.towns.all.0 }}'};
    {% endif %}

    ChatraID = 'vjLyTJBjCesk6rxPx';
    (function(d, w, c) {
        var n = d.getElementsByTagName('script')[0],
            s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
            + '//call.chatra.io/chatra.js';
        n.parentNode.insertBefore(s, n);
    })(document, window, 'Chatra');
</script>
<!-- /Support Smart Chat  -->

  </head>
  <body class="hold-transition skin-green-light sidebar-mini layout-boxed">


    <!-- SmartCity Project wrapper -->
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="/{% if townslugheader %}{{townslugheader}}{% endif %}" class="logo">

          <span class="logo-mini">РМ</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><img src="{% static 'img/logo.png' %}" width="200px" /> </span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">

          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Приховати меню</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

            <div id="livesearch" style="display: none;">
                <i class="fa fa-close"></i>
                 <span class="label label-warning pull-right"><a href="/regions/">МАПА</a> </span>
                <input type="text" class="typeahead" placeholder="Введіть населенний пункт...">
            </div>

           <div class="chooseatown"><a href="#" class="town" >Розумне місто:   Виберіть
               одне з міст-партнерів

           </a> <i class="fa fa-level-down"></i></div>


          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

           {% if request.user.is_authenticated  %}
                   <li>

                  <a href="/profile/{{ request.user.id }}">
                <i class="fa fa-user"></i> {{request.user.get_full_name}}
                     <div class="fiobadge"> <span class="badge bg-yellow">{% cache 500 points request.user.email %}{{ request.user.points }}{% endcache %}</span></div>
                </a>

              </li>
             <li> <a href="/accounts/logout"> <i class="fa  fa-close"></i> Вийти</a>     </li>
           {% else %}

                      <li><a href="/accounts/login/"><i class="fa  fa-power-off"></i>  Вхід</a></li>
                      <li> <a href="/accounts/signup/"><i class="fa fa-user-plus"></i> Реєстрація</a></li>

               </li>
           {% endif %}
            </ul>
          </div>
        </nav>
      </header>

      <!-- =============================================== -->
{% load activeurl %}


      <aside class="main-sidebar">
        <section class="sidebar">
            {%  activeurl menu="yes" parent_tag="li" %}
          <ul class="sidebar-menu">
            {% include 'menu.html' %}
          </ul>
            {%  endactiveurl %}

        {%  activeurl menu="yes" parent_tag="li" %}

        <ul class="sidebar-menu">
            <li class="header">Проект "Розумне місто"</li>
               <li>
                  <a href="/about" ><i class="fa fa-circle-o"></i> <span>Про проект</span></a>
            </li>
            <li>
                   <a href="/contacts" ><i class="fa fa-circle-o"></i> <span>Контакти</span></a>
            </li>
            <li>
                   <a href="/partners" ><i class="fa fa-circle-o"></i> <span>Партнери</span></a>
            </li>
                <li>
                  <a href="/help" ><i class="fa fa-circle-o"></i> <span>Допомога</span></a>
            </li>
            <li>
                  <a href="/rules" ><i class="fa fa-circle-o"></i> <span>Правила і оферта</span></a>
            </li>
              <li>
                   <a href="/api"><i class="fa  fa-circle-o"></i> <span>Експорт данних (API)</span></a>
            </li>
                <li>
                   <a href="/join"><i class="fa fa-power-off text-green"></i> <span>Місто? Підключайтесь!</span></a>
            </li>

        </ul>


         {%  endactiveurl %}


                {%  activeurl menu="yes" parent_tag="li" %}

            <ul class="sidebar-menu">
            <li class="header">Інформація</li>
               <li>
                  <a href="/decentralization" data-target="\/decentralization" title="Децентралізація влади та спроможні(об'єднанні) громади"><i class="fa fa-asterisk"></i> <span>Децентралізація влади</span></a>
            </li>


        </ul>
         {%  endactiveurl %}


        </section>
        <!-- /.sidebar -->
      </aside>


      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->



                <div id="pjax-container">

                     {% block content %}

                     {% endblock content %}

                </div>


     </div><!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          With <i class="fa fa-heart text-red"></i> your <a href="http://razomforukraine.org/">"Razom for Ukraine"</a>
        </div>
        <strong>&copy; 2016 <a href="https://www.facebook.com/rozumnemisto.org" target="_blank">Інформаційна система "Розумне місто"</a></strong>. Усі права захищено.
      </footer>



    </div><!-- ./wrapper -->



    <script type="text/javascript" src="{% static 'js/main.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.js'%}"></script>
    <script type="text/javascript" src="{% static 'plugins/fastclick/fastclick.min.js'%}"></script>


    {% block footerjs %}
    {% endblock footerjs %}

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72220102-2', 'auto');
  ga('send', 'pageview');
</script>


  </body>
</html>
