{% extends 'base.html'|pjax:request %}
{% block title %}Контакти. Інформаційна система "Розумне місто".{% endblock %}
{% load staticfiles %}
{% block content %}
        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">


<div class="text-center">
    <h2>Зв'язок з командою Розумного міста</h2></div>
                <div class="col-md-6">
        <h4><i class="fa fa-clock-o"></i> Працюємо: з 9:00 - 18:00</h4>
        <h4><i class="fa fa-phone-square"></i> Телефон: +38(098) 600-11-59 (підключено також <a href="http://telegram.org" target="_blank">Telegram</a>)</h4>
        <a href="https://www.facebook.com/rozumnemisto.org/?fref=ts" target="_blank"><img src="{% static 'img/facebook.png' %}"></a>
                </div>
                <div class="col-md-6">
        <h4><i class="fa  fa-chrome"></i> ГО "Місто Майбутнього": <a href="http://cityfuture.org.ua" target="_blank">www.cityfuture.org.ua</a></h4>
        <h4><i class="fa  fa-chrome"></i> БФ "Разом для України": <a href="http://razomforukraine.org" target="_blank">www.razomforukraine.org</a></h4>
        <h4><i class="fa fa-envelope"></i> Email: office@rozumnemisto.org</h4>
                </div>

      </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
    
{% endblock %}