{% extends 'base.html'|pjax:request %}
{% block title %}Профіль користувача. Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
              <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">
                <div class="col-md-9">
                         <div class="box">

            <div class="box-body">
            <div class="col-md-6">
    <h3>Профіль користувача </h3>

    <strong>Місто: </strong> {{ user.towns.first }}<br />
    <strong>Прізвище: </strong> {{ user.last_name }}<br />
    <strong>Ім'я: </strong> {{ user.first_name }}<br />
    {% if user.id == request.user.id or allowed%}
    <strong>По батькові: </strong> {{ user.middle_name }}<br />
    <strong>Електронна пошта:</strong> {{ user.email }}<br />
    <strong>Телефон: </strong> {{ user.phone }}<br /><br />
 {% endif %}
            {% if user.id == request.user.id%}
                (<a href="/accounts/logout">Вийти з сиcтеми</a>)
            {% endif %}

            {% if allowed %}
                {%if user.is_active == 1 %}
                    <a href="/profile/userban/{{ user.id }}/0">Заблокувати користувача</a>
                {% else %}
                    <a href="/profile/userban/{{ user.id }}/1">Розблокувати користувача</a>
                {% endif %}
            {% endif %}
</div>
            <div class="col-md-6">
                 {% if allowed %}
                <br/>
                <a href="/moderator" class="btn btn-default">Панель модератора</a>
                <a href="/moderator/zvit" class="btn btn-default">Звіти</a>
                {% endif %}
</div>

                     </div><!-- /.box-body -->
          </div><!-- /.box -->
                    </div>
                <div class="col-md-3">
     <div class="box">
          <div class="box-header">Вклад у розвиток міста:</div>
            <div class="box-body">
                    <div class="small-box bg-yellow">
            <div class="inner">
              <h1>{{ user.points }}</h1>

              <p>КАРМА</p>
            </div>
            <div class="icon">
              <i class="fa fa-heartbeat"></i>
            </div>
            <a href="/profile/karma/{{ user.id }}" class="small-box-footer">Докладно по нарахуванням <i class="fa fa-arrow-circle-right"></i></a>
          </div>
                       <a class="btn  btn-default btn-block" href="/help#karma">Що таке системна "карма" ?</a>
                <a class="btn  btn-default btn-block" href="../{{ user.towns.first.slug }}/rating">Рейтинг користувачів</a>
                    </div><!-- /.box-body -->
          </div><!-- /.box -->
                    </div>
  </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->
{% endblock %}