{% extends 'base.html'|pjax:request %}
{% block title %}Правила проекту. Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">


<h2>Загальні правила поведінки на сайті</h2>
На веб-ресурсі «Розумне місто» потрібно поводитися шанобливо до всіх відвідувачів. На веб-ресурсі категорично
                заборонений расизм, релігійні й політичні висловлення. Заздалегідь дякуємо Вам за розуміння й за
                бажання зробити наш веб-ресурс більш ввічливим і дружелюбним. <br/><br/>
На сайті суворо заборонено:<br/><br/>
- повідомлення, що не стосуються до змісту або до контексту обговорення<br/>
 - образа й погрози на адресу відвідувачів сайту<br/>
 - у коментарях забороняються вирази, що містять ненормативну лексику, що принижують людську гідність, що розпалюють міжнаціональну ворожнечу<br/>
 - спам, а також реклама будь-яких товарів і послуг, інших ресурсів, ЗМІ або подій, що не відносяться до контексту <br/>
- створювати декілька акантів для однієї особи <br/><br/>
Адміністрація сайту залишає за собою право видаляти коментарі або частину коментарів, якщо вони не відповідають даним вимогам.<br/><br/>
При порушенні правил вам може бути дане попередження. У деяких випадках користувач може бути заблокований без попереджень.<br/><br/>
<strong>Договір оферти </strong><br/><br/>

1. Предметом цього договору є відносини між некомерційним веб-ресурсом rozumnemisto.org та користувачем, який користується сервісами веб-ресурсу.<br/>

2. Користувачем визнається будь-яка фізична особа, яка здійснює доступ до Сайту за допомогою мережі Інтернет. Ця Угода стає дійсною з Користувачем при вході на Сайт. Подальше використання Сайту є підтвердженням згоди Користувача з умовами цієї Угоди. Використання Користувачем Сайту, будь-яких його послуг, означає беззастережну згоду Користувача з усіма пунктами цієї Угоди і беззастережне прийняття його умов.<br/>

3. Адміністратор залишає за собою право на свій розсуд змінювати Угоду в будь-який час без спеціального попереднього і (або) подальшого повідомлення Користувача. Продовження використання Користувачем Сайту після будь-яких змін Угоди передбачає згоду Користувача з такими змінами.<br/>

4. Адміністратор надає Користувачеві доступ до Сайту з основною метою надання Користувачу доступу до модулів електронного врядування (далі - Контент). Доступ до Контенту на Сайті надається Користувачам виключно для некомерційного використання.<br/>

5. Користувач підтверджує, що досяг 18-річного віку. Користувач, який не досяг необхідного віку, зобов'язується утриматися від реєстрації на веб-порталі.<br/>

6. Користувач гарантує, що при доступі до Контенту не здійснює і не буде здійснювати будь-яких дій, спрямованих на обхід технічних засобів захисту (зокрема, системи територіального обмеження доступу до Контенту за IP-адресами або системи захисту від несанкціонованого копіювання).<br/>

7. Доступ до Сайту і Контенту надається "в тому вигляді, як є", і Адміністратор не гарантує відповідність послуг, що надаються очікуванням Користувача.
<br/>
8. Користувач розуміє і погоджується з тим, що Адміністратор може, на свій розсуд і без спеціального повідомлення Користувача, змінювати набір Контенту та / або функціонал Сайту.
<br/>
9. Користувач розуміє і погоджується з тим, що Адміністратор не гарантує безпомилкову та безперебійну роботу Сайту і за замовчуванням не несе відповідальності за шкоду, заподіяну Користувачеві технічними збоями апаратного або програмного забезпечення на будь-якій стороні.<br/>

10. Користувач погоджується з використанням Адміністратором персональних даних Користувача з метою забезпечення роботи Сайту, надання Користувачу послуг доступу до Контенту, а також інформаційного обслуговування Користувача. Користувач погоджується на отримання повідомлень від Адміністратора на вказану Користувачем при реєстрації адресу електронної пошти. Адміністратор зобов'язується не розкривати інформацію про Користувача третім особам без згоди Користувача, за винятком розкриття інформації на вимогу суду та / або правоохоронних органів відповідно до застосовного законодавства.<br/>

11. Адміністратор залишає за собою право в будь-який час на свій розсуд припиняти, обмежувати або припиняти доступ Користувача до Сайту або до окремих послуг Сайту, в тому числі, але не виключно, у разі порушення Користувачем цієї Угоди та / або чинного законодавства.<br/>

12. Акаунти користувачів, петиції, заявки на усунення дефектів ЖКГ, коментарі та інші сутності - не видаляються фізично з порталу.<br/><br/>


З повагою, адміністрація проекту «Розумне місто»


            </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}