{% extends 'base.html' %}>

{% block title %} Додати свою петицію. Інформаційна система "Розумне місто".{% endblock %}


{% block content %}
<section class="content-header">
      <h1>
    Додати петицію для свого міста - {{ request.user.towns.all.0 }}

      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i> Головна</a></li>
        <li><a href="/petitions/7">Петиції</a></li>
        <li class="active">Додати петиції</li>
      </ol>
    </section>

        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

<div class="col-md-12">

<form id="addPetition" action="../petitions/add" method="post" enctype="multipart/form-data">
{% csrf_token %}

    <div class="form-group">
     <h4>Назва петиції </h4>
	  {{ form.title.errors }}
	  {{ form.title }}
    </div>


    <div class="form-group">
        <h4>Опис петиції </h4>
      {{ form.text.errors }}
	  {{ form.text }}<br />
     </div>

    <div class="form-group">
        <h4>Вимога петиції*</h4>
      {{ form.claim.errors }}
	  {{ form.claim }}
        <small>*якщо не вказано адресата петиції то петиція направляється до адресата на розсуд регіональних модераторів (напр. міська рада)</small><br />
    </div>

    <div class="form-group">
        <h4>Ілюстрація до петиції </h4>
      {{ form.image.errors }}
	  {{ form.image }}
    </div>



    <div class="form-group">
      <div class="checkbox">
                    <label>
                      <input type="checkbox" id="perinfo" name="perinfo" >
                      з <a href="../petitions/rules" target="_blank"> правилами</a> петицій ознайомлений(на) та даю згоду на обробку персональних даних
                    </label>
      </div>
    </div>

    </div>

    <div class="col-md-12">

    <div class="text-center"><input type="submit" class="btn btn-primary btn-lg" value="Відправити петицію!"  onclick="this.value='Зачекайте, будь ласка ..';this.disabled='disabled'; this.form.submit();"></div>

    </div>

    </form>

  </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}
