{% extends 'base.html'|pjax:request %}
{% load static %}
{% block title %}Допомога по інструменту "Петиції". Інформаційна система "Розумне місто".{% endblock %}

{% block content %}
<!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">
                <div class="text-center"><h1>Допомога по модулю "Петиції"</h1></div>

<p><strong>Як створити петицію?</strong></p>
<p>Для того, щоб створити петицію, користувачу необхідно:</p>
<p>- зареєструватися на веб-порталі;</p>
<img src="{%  static 'img/petitions/reg-1.jpg' %}" style="max-width:100%"><br /><br />
<p>- місто, яке було вказано при реєстрації, автоматично обирається у верхньому меню.
    При необхідності, Ви можете його змінити, нажавши на назву міста та обравши нове на мапі;</p>
<img src="{%  static 'img/petitions/reg-2.jpg' %}" style="max-width:100%"><br /><br />
<p>- в лівому меню «Петиції» обрати «Додати петицію»;</p>
<img src="{%  static 'img/petitions/reg-3.jpg' %}" style="max-width:100%"><br /><br />
<p>- заповнити всі поля та нажати на кнопку «Відправити»:</p>
<p>	1 – Назва петиції;</p>
<p>	2 – Текст-обгрунтування петиції;</p>
<p>	3 – Вимоги до органів влади;</p>
<p>	4 – Кнопка завантаження зображення;</p>
<p>5 – Поставте галочку,що Ви згодні з обробкою Ваших персональних даних;</p>
<p>6 – Кнопка «Відправити», для надіслання петиції на модерацію.</p>
<img src="{%  static 'img/petitions/pic-5-1.png' %}" style="max-width:100%"><br /><br />
<p>Після розгляду Вашої петиції модератором, вона з’явиться на сайті. У випадку, якщо Ваша петиція не пройде модерацію,
    Вам буде повідомлено про це на вказаний при реєстрації е-мейл.</p>
<p><strong>Як підписати петицію?</strong></p>
<p>Для того, щоб підписати петицію, необхідно зайти в меню «Петиції» - «Активні петиції».
    Підписані Вами петиції мають статус «Підписана», а ті, що можна підписати – «Не підписана».<p>
<img src="{%  static 'img/petitions/pic-6.png' %}" style="max-width:100%"><br /><br />
<p>Натисніть на назву потрібної петиції та в картці петиції натисніть кнопку «Підписати».
    На даній сторінці Ви можете бачити опис петиції, кількість зібраних голосів, кількість днів, що залишилося для підписів.<p>
<img src="{%  static 'img/petitions/pic-7.png' %}" style="max-width:100%"><br /><br />

<p>Якщо петиція вже підписана Вами, ми можете «забрати» свій підпис, нажавши в картці петицій на кнопку «Відхилити».<p>
<img src="{%  static 'img/petitions/pic-8.png' %}" style="max-width:100%"><br /><br />

  </div><!-- /.box-body -->

          </div><!-- /.box -->

        </section><!-- /.content -->

{% endblock %}