{% extends 'base.html'|pjax:request %}
{% block title %}Правила інструменту "Петиції". Інформаційна система "Розумне місто".{% endblock %}

{% block content %}

      <!-- Main content -->
        <section class="content">
          <!-- Default box -->
          <div class="box">
            <div class="box-body">
                 <div class="text-center"><h1>Правила модулю "Петиції"</h1></div>
<p>Петиції – це модуль веб-сервісу "Розумне місто", який розроблений з урахуванням вимог <a href="http://zakon3.rada.gov.ua/laws/show/577-19" target="_blank">Закону України №577-19
    «Про звернення громадян»</a> і дозволяє громадянам висловлювати свою думку та акцентувати увагу на важливих для їх міста питаннях. </p>

<p>Для того, щоб петиція була надіслана для розгляду до органу місцевого самоврядування (виконавчого комітету міської ради, міської ради), вона повинна
        набрати необхідну кількість підписів за відведений для час.</p>

<p><strong>Загальні рекомендації щодо розміщення петицій:</strong></p>

<ul>
        <li>Петиція не повинна дублювати вже існуючу;</li>

        <li>Утримайтесь від подачі петиції з вимогами, що вже у процесі реалізації;</li>

        <li>Текст петиції повинен відповідати загальноприйнятим нормам етики та моралі;</li>

        <li>Піднята проблема повинна відноситись до компетенції місцевих органів самоврядування ;</li>

        <li>Вказуйте адресата петиції, наприклад: міського голову, виконачий комітет чи міську раду.</li>
</ul>

<p>Електронна петиція, яка відповідає <a href="http://zakon3.rada.gov.ua/laws/show/577-19" target="_blank">Закону України №577-19
    «Про звернення громадян»</a>, публікується у меню "Петиції" у розділі "Активні петиції".
    У разі невідповідності електронної петиції <a href="http://zakon3.rada.gov.ua/laws/show/577-19" target="_blank">Закону України №577-19
    «Про звернення громадян»</a> публікація такої петиції не здійснюється, про що
    автор електронної петиції отримує повідомлення на вказану ним адресу електронної пошти. Перевірку петиції та передачу текстової петиції
    у відповідні органи влади здійснюється регіональними модераторами. Регіональні модератори діють в рамках меморандуму, договору,
розпорядження міського голови або інших домовленостей з БФ "Разом для України" чи ГО "Місто Майбутнього" та з дотриманням вимог <a href="http://zakon3.rada.gov.ua/laws/show/577-19" target="_blank">Закону України №577-19
    «Про звернення громадян»</a>.
</p>
   <p><strong> Статуси петицій.</strong></p>
<ul>
    <li>На модерації. Данні петиції проходять перевірку модераторам і не доступні для перегляду користувачами сервісу;</li>

    <li>Активні. Петиції, що пройшли перевірку та збирають підписи;</li>

    <li>Розглядаються. Петиції, які набрали потрібну кількість голосів та відправлені на розгляд до органу місцевого самоврядування;</li>

    <li>Розглянуті. Петиції, які були розглянуті представниками влади і по ним вже є певне рішення;</li>

    <li>Відхилені. Петиції, які не відповідають вимогам чинного законодавства;</li>

    <li>Архів. Петиції, які не набрали необхідної кількості голосів;</li>

    <li>Приховані. Петиції, які з етичних причин не можуть бути опубліковані на сайті. Данні петиції доступні для перегляду лише модераторам сервісу.</li>
</ul>
  </div><!-- /.box-body -->
          </div><!-- /.box -->
        </section><!-- /.content -->
{% endblock %}