{% extends 'base.html' %}

{% block title %} Запис успішно видалено - {{ person }}. Інформаційна система "Розумне місто".{% endblock %}


{% block content %}
    <section class="content-header">
        <h1>{{ person.category.category }}</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i> Головна</a></li>
            <li><a href="../mvs_wanted/category/1">Розшукувані особи</a></li>
            <li class="active">Перегляд</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->

        <div class="box">
            <div class="box-body">
                <div class="box">

                    <div class="box-header with-border">
                        <h3 class="box-title">Запис успішно видалено - {{ person }}</h3>
                    </div>
                    <div class="box-body">
                        <a href="../mvs_wanted/category/1">Повернутись до списку</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}