{% extends 'base.html' %}

{% block title %} {{ person.name }} - {{ person.category.category }}. Інформаційна система "Розумнемісто".{% endblock %}


{% block content %}
    <section class="content-header">
        <h1>{{ person.category.category }}</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i> Головна</a></li>
            <li><a href="../mvs_wanted/category/{{ person.category.id }}">{{ person.category.category }}</a></li>
            <li class="active">Перегляд</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">

            <div class="box-body">

                {% if allowed %}

                    <div class="col-md-12">

                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Інструменти модератора:</h3>
                        </div>
                        <div class="box-body">

                            <div class="col-md-2">
                                <a href="#">
                                    <button type="button" data-toggle="modal" data-target="#modal_delete"
                                            class="btn btn-block btn-danger btn-sm"><i class="fa fa-ban"></i> Видалити
                                    </button>
                                </a>

                                <div class="modal fade" tabindex="-1" role="dialog" id="modal_delete">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">Ви дійсно бажаєте видалити запис?</h4>
                                            </div>

                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Закрити
                                                </button>
                                                <a href="../mvs_wanted/delete/{{ person.id }}">
                                                    <button type="submit" class="btn btn-danger">Видалити запис</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-2">
                                <a href="../mvs_wanted/edit/{{ person.id }}">
                                    <button type="button" class="btn btn-block btn-info btn-sm">
                                        <i class="fa fa-pencil-square-o"></i> Редагувати
                                    </button>
                                </a>
                            </div>


                            <div class="col-md-2">
                                <a href="../mvs_wanted/print/{{ person.id }}" target="_blank">
                                    <button type="button" class="btn btn-block btn-default btn-sm"><i
                                            class="fa fa-print"></i> Друкувати
                                    </button>
                                </a>
                            </div>

                        </div>
                    </div>
                {% endif %}

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ person.name }} </h3>
                        <div class="pull-right">
                            <script type="text/javascript"
                                    src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f23dc3c4265dc08"></script>
                            <div class="addthis_sharing_toolbox"></div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-7">
                            <p><strong>Дата народженя:</strong> {{ person.birth_date|date:"d.m.Y" }}</p>
                            <p><strong>Інформація:</strong> {{ person.text }}</p>
                            <p><strong>Місто:</strong> <a href="/{{ person.town.slug }}"> {{ person.town.name }}</a></p>
                        </div>

                        <div class="col-md-5">
                            {% if person.image.large %}
                                <a href="{{ person.image.large.url }}" data-lightbox="image-1"
                                   data-title="{{ person.name }}">
                                    <div class="petbox"><img src="{{ person.image.large.url }}" width="100%"></div>
                                </a>
                            {% else %}
                                <div class="petbox"><img src="{{ MEDIA_URL }}/persons/empty.gif" width="100%"></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
    </section><!-- /.content -->


{% endblock %}