{% extends 'base.html' %}

{% block title %}{{ category.category }} Інформаційна система "Розумне місто".{% endblock %}
{% load staticfiles %}

{% block content %}

    <section class="content-header">
        <h1>РОЗШУК - Міністерство внутрішніх справ України</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i> Головна</a></li>
            <li class="active">РОЗШУК - Міністерство внутрішніх справ України</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">

            <div class="box-body">
                    <div class="box">
                    <div class="box-body">
                        {% for category in categories %}

                            <div style="margin-bottom: 40px; margin-left: 40px;">
                                <a href="../mvs_wanted/category/{{ category.id }}">
                                    <h3>{{ category.category }}</h3>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

