
   <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">{{ person.name }}</h3>
                </div>
        <div class="box-body">
            <p><strong>Дата народженя:</strong> {{ person.birth_date|date:"d.m.Y" }}</p>
                        <p><strong>Інформація:</strong> {{ person.text }}</p>
                        <p><strong>Місто:</strong> <a href="/{{ person.town.slug }}"> {{ person.town.name }}</a></p>

    <strong>Дата народженя:</strong> {{person.birth_date|date:"d.m.Y" }}<br/>
    <strong>Місто:</strong> {{ person.town.name }}<br/>

               <br/><br/>
           </div>

    </div>


    <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Інформація:</h3>
                </div>
                <div class="box-body">
                {{ person.text }}
                </div>
    </div>


<img src="{{ person.image.large.url }}" width="100%">