{% extends 'base.html' %}

{% block title %}Новини міста. Інформаційна система "Розумне місто".{% endblock %}
{% load staticfiles %}



{% block content %}
    <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box">

            <div class="box-body">

    {% if allowed %}

    <div class="col-md-12">

        <div class="box box-warning">

            <div class="box-body">

                <a href="../news/add"><button type="button" class="btn btn-block btn-primary text-center">Додати новину</button></a>

        </div>
   </div>

    {% endif %}


{% if articles.object_list %}

    <div class="box">
        <div class="box-header with-border"><h3 class="box-title">Новини міста</h3></div>
                <div class="box-body">
                  <table class="table table-bordered table-hover">
                    <tbody>

                    {% for article in articles.object_list %}

                  <tr>
                  <td class="vert-align" width="100px"><img src="{{ article.mainimg.thumbnail.url }}" width="100px"></td>
                  <td ><h4><a href="../news/{{ article.id }}" class="title-article">{{ article.title|truncatewords:50 }}</a></h4>{{ article.shortdesc }}</td>
                      {% if allowed %}

                          {% if article.publish == 1 %}
                                <td class="vert-align" width="150px"><span class="label label-success"><i class="fa fa-clock-o"></i> {{ article.datetime_publish|date:" d/m/Y h:m" }}</span></td>
                          {% else %}
                                <td class="vert-align" width="150px"><span class="label label-warning"><i class="fa fa-clock-o"></i> {{ article.datetime|date:" d/m/Y h:m"  }}</span></td>
                          {% endif %}

                      {% else %}
                                <td class="vert-align" width="150px"><span class="label label-success"><i class="fa fa-clock-o"></i> {{ article.datetime_publish|date:" d/m/Y h:m"  }}</span></td>
                      {% endif %}

                  </td>
                </tr>
            {% endfor %}
              </tbody></table>
            </div>

</div>
    <div class="col-md-5 col-md-offset-3">
  {% if articles.paginator.count > 10 %}{{ articles.render }}{% endif %}
    </div>

{% else %}
    На жаль, для Вашого міста поки що немає новин
{% endif %}

  </div><!-- /.box-body -->

          </div><!-- /.box -->

  </section><!-- /.content -->
{% endblock %}
